.credit-section {
    max-width: 800px;
    min-height: 500px;
    margin: 40px auto;
    padding: 40px 60px;
    background-color: #f9fff4;
    border: 2px solid #A4D038;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.03);
    text-align: left;
}

h2 {
    text-align: center;
    font-size: 1.8em;
    color: #3399CC;
    margin-bottom: 30px;
}

.credit-section ul {
    text-align: left;
    display: block;
    width: 100%;
    list-style-type: none;
    padding-left: 0;
}

.credit-section li {
    text-align: left;
    display: block;
    width: 100%;
    word-wrap: break-word;
    margin-bottom: 18px;
    font-size: 1.5em;
    color: #2B7DA4;
}

.credit-section li a {
    color: #3399CC;
    text-decoration: none;
}

.credit-section li a:hover {
    text-decoration: underline;
    color: #A4D038;
}
