/* transport.css */
section {
  padding: 2.5rem 1.25rem;
}

h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: #2B7DA4;
  font-size:2rem
}

.transport-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #F9FFF4;
  max-width: 70vw;
  margin: 0 auto;
  padding: 3rem 5rem 2rem;
  gap: 4rem;
}

.transport-info {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.transport-info h2 {
  text-align: left;
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
}

.btn {
  border: 2px solid #A4D038;
  padding: 1.5rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
  border-radius: 12px;
  width: 13rem;
  background-color: #FFFFFF;
  color: #2B7DA4;
  box-sizing: border-box;
}

.btn:hover {
  background-color: #118433;
  color: #FFFFFF;
}

.picture-placeholder img {
  width: 30vw;
  height: auto;
  border-radius: 12px;
  border: 2px solid #A4D038;
}

.facility-cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  max-width: 80vw;
  margin: 0 auto;
}

.facility-card {
  border: 0.165rem solid #A4D038;
  padding: 1.5rem;
  border-radius: 10px;
  width: 23.5rem;
  background-color: #FFFFFF;
  text-align: left;
  box-sizing: border-box;
}

.facility-card:hover{
  transform: translateY(-4px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.facility-card p {
  margin: 0.5rem 0;
  font-weight: 500;
  font-size: 1.2rem;
  color: #000000;
}

.get-directions-btn {
  text-decoration: none;
  padding: 0.625rem 1.25rem;
  font-weight: bold;
  display: inline-block;
  border-radius: 6px;
  margin-top: 1rem;
  background-color: #2B7DA4;
  color: #FFFFFF;
  text-align: center;
  border: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: fit-content;
}

.get-directions-btn:hover {
  background-color: #031e2e;       /* Slightly darker on hover */
}

.transport-section {
  padding: 0;
}

.transport-container {
  display: flex;
  gap: 0;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.transport-box {
  flex: 1;
  background-size: cover;
  padding: 1.5rem;
  color: #000000;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.mrt {
  background-image: url('../images/mrt.jpg');
}

.bus {
  background-image: url('../images/bus.jpg');
}

.transport-box h3 {
  font-size: 2rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: 2rem;
}

.card-container {
  padding-top: 3vw;
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: nowrap;
  margin-bottom: 1rem;
}

.transport-card {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 1rem;
  border-radius: 12px;
  width: 20rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
}

.transport-card p {
  margin: 0.25rem 0;
  color: #000000;
  font-weight: 500;
}

.transport-card:hover{
  transform: translateY(-4px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.view-more{
  background-color: #E1FF1F;
  color: #000000;
  padding: 0.625rem 1.25rem;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
  display: inline-block;
  width: fit-content;
  align-self: center;
}

.view-more:hover{
  background-color: #0fbd1d;
  color: white;
}

.see-more {
  align-self: flex-end;
  font-style: italic;
  color: #ffffff;
  font-size: 1.15rem;
  margin-top: 0;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
